@page "/adatok"
@using Nav_Bootstrap.Modell
@inject Nav_Bootstrap.Data.MySQL_DB_Context HotelDB
@rendermode InteractiveServer

<h3>Hotelek</h3>

<table>
    <thead>
        <tr class="headerRow">
            <td class="">ID</td>
            <td class="">Hotel</td>
            <td class="">Helyszín</td>
            <td class="">Lovak száma</td>
            <td class="">Ár / éj</td>
            <td class="">Értékelés</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in HotelDB.PaciHotel)
        {
            <tr class="">
                <td class="">@item.ID</td>
                <td class="">@item.Name</td>
                <td class="">@item.Location</td>
                <td class="">@item.LovakSzama</td>
                <td class="">@item.Price</td>
                <td class="">@item.Rating <Icon Name="IconName.StarFill" Color="IconColor.Warning"/></td>
               @*  <td>
                    <div class="img-box">
                        <img src="@item.ImgUrl" alt="Alternate Text" />
                    </div>
                </td> *@
            </tr>
        }
    </tbody>
</table>


@code {

}
